<div class="container">
    <section class="header">
        <h1> Scott, This is your result.</h1>
    </section>
    <section class="result">
        <label> Gender </label> : Male <br>
        <label> Age </label> : 17 <br>
        <label> Children </label> : No kids <br>
        <label> Identity </label> : LGBTQ <br>
        <label> Issue </label> : HIV+ <br>
        <label> Home </label> : Homeless <br>
        <label> Job </label> : Unemployed <br>
        <label> Health Condition </label> : Mental Health </label> <br>
    </section>
    <section class="resources urgent">
        <h2> WE THINK THESE RESOURCES COULD HELP YOU RIGHT AWAY.</h2> <br>
        <ul>
            <li>
            BIDDLE HOUSE OPPORTUNITIES CENTER: - Overnight shelter for men. Meals daily:
            Breakfast 7am; Lunch Noon; Dinner 5:45pm. Guests must do an intake to receive the services below, which are available to both men and women:
            </li>
        </ul>
    </section>
    <section class="resources">
        <h2>SOME OTHER RESOURCES TO LOOK INTO:</h2>
        
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>

        <ul>
            <li>
            DOORWAYS - OWN HOME - shelters the homeless and works to prevent homelessness for those who are unstably housed: emergency housing, rent, mortgage, utility and move-in subsidies to individuals and families living with HIV/AIDS.
            </li>
            <li>
            ST. PATRICK CENTER - Rosati Group Home: counseling, daily living skills instructions and 24-hour protective oversight to clients with mental illness. Staff provide meals, medication management and items for daily living for each client.
            </li>
            <li>
            DOORWAYS - RESIDENTIAL - The Residential program has 103 apartment units at six sites located throughout the City of St. Louis. The Residential program serves people affected by HIV/AIDS who are capable of independent living but whose financial and health issues limit their ability to pay fair market rent.
            </li>
            <li>
            FEELING KINDA BLUE - (FKB) - an interactive social media site for young adults who are feeling depressed and alone. Trained clinicians monitor the site on a 24 hour basis.  
            Targets young adults ages 18-28, providing support to individuals with mental health needs and the work they do in preventing suicide
            </li>
        </ul>
    </section>
</div>

