<div class="container">
    
    <section class="resources urgent">
    <div class="row match-row1">
        <h2> WE THINK THESE RESOURCES COULD HELP YOU RIGHT AWAY.</h2> <br>
        <div class="col-md-4"><a href="#"><div><p class="bg-warning"><a href="#"><strong>BIDDLE HOUSE OPPORTUNITIES CENTER:</strong> Overnight shelter for men. Meals daily:
            Breakfast 7am; Lunch Noon; Dinner 5:45pm. Guests must do an intake to receive the services below, which are available to both men and women.</p></div></a></div>
        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    </section>
    
    
    <section class="resources">
        <h2>SOME OTHER RESOURCES TO LOOK INTO:</h2>
        
    <div class="row match-row2">
        <div class="row-height">
            <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>DOORWAYS - OWN HOME:</strong> Shelters the homeless and works to prevent homelessness for those who are unstably housed: emergency housing, rent, mortgage, utility and move-in subsidies to individuals and families living with HIV/AIDS.</p></div></a></div>

            <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>ST. PATRICK CENTER:</strong> Rosati Group Home: counseling, daily living skills instructions and 24-hour protective oversight to clients with mental illness. Staff provide meals, medication management and items for daily living for each client.</p></div></a></div>

            <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>DOORWAYS - RESIDENTIAL:</strong> The Residential program has 103 apartment units at six sites located throughout the City of St. Louis. The Residential program serves people affected by HIV/AIDS who are capable of independent living but whose financial and health issues limit their ability to pay fair market rent.</p></div></a></div>
        </div>
    </div>
         <div class="row match-row3">
        <div class="row-height">
            <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>FEELING KINDA BLUE - (FKB):</strong> An interactive social media site for young adults who are feeling depressed and alone. Trained clinicians monitor the site on a 24 hour basis.
            Targets young adults ages 18-28, providing support to individuals with mental health needs and the work they do in preventing suicide.</p></div></a></div>
             <div class="col-md-4">&nbsp;</div>
        <div class="col-md-4">&nbsp;</div>

            
        </div>
    </div>

        
           
    </section>
</div>
