<div class="container">

    <section class="resources urgent">
        <h2> WE THINK THESE RESOURCES COULD HELP YOU RIGHT AWAY.</h2> <br>
        <ul>
            <li>CATHOLIC CHARITIES: Offers an immediate, confidentail safe place for women who are abused and their children to live; peer support; individual crisis, froup and family counseling.</li>
            <li>YWCA: Transitional Housing - on-site case management and counseling, employment counseling and referrals, life skills seminars, financial educaiton sessions, Individual Development Accounts (IDA), computer training, health care.</li>
        </ul>
    </section>
    <section class="resources">
        <h2> SOME OTHER RESOURCES TO LOOK INTO:</h2>
        <ul>
            <li>YWCA: Women’s Economic Stability Partnership - assist low-income, single mothers in attaining job and economic stability within a 3-5 year period. Non-traditional careers are defined as careers in science, technology, engineering, and mathematics (STEM) as well as technical careers, such as automotive maintenance technology.</li>
            <li>YWCA: 
        <ul>
            <li>
            Women’s Resource Center - Crisis Intervention - SART (Sexual Assault Response Team) volunteers provide support, information and resources to rape victims in local hospital emergency departments; 24-hours a day, seven days a week, serving more than 400 victims each year.; 24-Hour Crisis Hotline: 314-531-RAPE (7273). </li>
            <li>Survivor Support Services - Individual therapy for anyone age 14+ who has been a victim of rape or childhood sexual abuse; Support groups; Case management.
            </li>
            <li>Educational Services - risk-reduction and awareness training, professional education, psycho-educational groups and off-site outreach services
            </li>
        </ul>
            <li>
            YWCA: Head Start: Head Start is for children three to five years old. Our unique approach is focused on kindergarten readiness and promotes children's progress in all developmental areas. 
            </li>
            <li>ALIVE: Individual Counseling and Support Groups for Adults: to help women end the cycle of violence within their own families. </li>
            <li>ALIVE: Children's Treatment Program: non-residential counseling program in the St. Louis area specifically designed for children who have been affected by domestic violence. 
            </li>
        </ul>
    </section>
</div>
