<div class="container">
    <div class="row">
    <section class="resources urgent">
        <h2> WE THINK THESE RESOURCES COULD HELP YOU RIGHT AWAY.</h2> <br>
        <div class="col-md-4"><a href="#"><div><p class="bg-warning"><a href="#"><strong>CATHOLIC CHARITIES:</strong> Offers an immediate, confidentail safe place for women who are abused and their children to live; peer support; individual crisis, froup and family counseling.</p></div></a></div>
        <div class="col-md-4"><a href="#"><div><p class="bg-warning"><strong>YWCA:</strong> Transitional Housing - on-site case management and counseling, employment counseling and referrals, life skills seminars, financial educaiton sessions, Individual Development Accounts (IDA), computer training, health care.</p></div></a></div>
      <div class="col-md-4">&nbsp;</div>
    </div>
            
    </section>
    
    <section class="resources">
        <h2>SOME OTHER RESOURCES TO LOOK INTO:</h2>
    <div class="row is-table-row">
        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>YWCA:</strong> Women’s Economic Stability Partnership - assist low-income, single mothers in attaining job and economic stability within a 3-5 year period. Non-traditional careers are defined as careers in science, technology, engineering, and mathematics (STEM) as well as technical careers, such as automotive maintenance technology.</p></div></a></div>

        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>YWCA:</strong> Women’s Resource Center - Crisis Intervention - SART (Sexual Assault Response Team) volunteers provide support, information and resources to rape victims in local hospital emergency departments; 24-hours a day, seven days a week, serving more than 400 victims each year.; 24-Hour Crisis Hotline: 314-531-RAPE (7273).</p></div></a></div>
        
        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>Survivor Support Services:</strong> Individual therapy for anyone age 14+ who has been a victim of rape or childhood sexual abuse; Support groups; Case management.</p></div></a></div>
    </div>
    <div class="row is-table-row">
        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>Educational Services:</strong> risk-reduction and awareness training, professional education, psycho-educational groups and off-site outreach services.</p></div></a></div>

        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>YWCA: Head Start:</strong> Head Start is for children three to five years old. Our unique approach is focused on kindergarten readiness and promotes children's progress in all developmental areas.</p></div></a></div>

        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>ALIVE:</strong> Individual Counseling and Support Groups for Adults: to help women end the cycle of violence within their own families.</p></div></a></div>
    </div>
    <div class="row is-table-row">
            
        <div class="col-md-4"><a href="#"><div><p class="bg-info"><strong>ALIVE:</strong> Children's Treatment Program: non-residential counseling program in the St. Louis area specifically designed for children who have been affected by domestic violence.</p></div></a></div>
    </div>
        
    </section>
</div>
