<div class="container">
    <section class="header">
        <h1>WE THINK THESE RESOURCES COULD HELP YOU RIGHT AWAY:</h1>
    </section>
    <section class="resources emergency">
        <ul>
            <li>CALL 911</li>
            <li>LIFE CRISIS SERVICES (LCS) provides crisis intervention and suicide prevention 24 hours per day, 365 days per year. Please call 314-647-HELP (4357)</li>
            <li>FEELING KINDA BLUE - (FKB) - an interactive social media site for young adults who are feeling depressed and alone. Trained clinicians monitor the site on a 24 hour basis. Targets young adults ages 18-28, providing support to individuals with mental health needs and the work they do in preventing suicide.</li>
        </ul>
    </section>
</div>
