<div class="container">
    <section class="header">
        <h1>WE THINK THESE RESOURCES COULD HELP YOU RIGHT AWAY:</h1>
    </section>
    <section class="resources emergency">
    <div class="row match-row1">
        <div class="row-height">
            <div class="col-md-4"><a href="#"><div><p class="bg-danger"><strong>CALL 911:</strong> for immediate assistance in your area. This is the fastest way to get in touch with emergency services.</p></div></a></div>

            <div class="col-md-4"><a href="#"><div><p class="bg-danger"><strong>LIFE CRISIS SERVICES (LCS):</strong> Provides crisis intervention and suicide prevention 24 hours per day, 365 days per year. Please call 314-647-HELP (4357)</p></div></a></div>

            <div class="col-md-4"><a href="#"><div><p class="bg-danger"><strong>FEELING KINDA BLUE - (FKB):</strong> an interactive social media site for young adults who are feeling depressed and alone. Trained clinicians monitor the site on a 24 hour basis. Targets young adults ages 18-28, providing support to individuals with mental health needs and the work they do in preventing suicide.</p></div></a></div>
        </div>
    </div>
    </section>
</div>


