/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "formtastic";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Signika');

.label {
  color: #000;
}

h1 {font-family: 'Signika', sans-serif;}

h2 {font-family: 'Signika', sans-serif;}

h3 {font-family: 'Signika', sans-serif;}

body, p {font-family: 'Open Sans', sans-serif;}

.logo {
    padding:15px; 
}

.navbar-inverse {
    background-color: #8acfbc;
}

.navbar {
    position: relative;
    min-height: 50px;
    max-height: 120px;
    margin-bottom: 20px;
    border: 0px solid;
}

.bg-warning, .bg-info, bg-danger {
    padding: 20px;
}

.bg-warning {
    background-color:#face55;
}

.bg-info {
    background-color: #8acfbc;
}

.bg-danger {
    background-color: #e6493d;
}

match-row4, match-row3, match-row2, match-row1 {
   min-height: 800px; 
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }

.is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
#intake-form-submit-button {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
